[submodule "public"]
	path = public
	url = git@github.com:mpessas/mpessas.github.io.git
	branch = master
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
